## Câu 1: Hiển thị dữ liệu

In [ ]:
import pandas as pd # Thư viện dùng để làm việc với dữ liệu dạng bảng
import numpy as np # Thư viện dùng tính toán số học

### Cách đọc file csv từ bộ nhớ ảo

In [ ]:
path = "/content/BTH2.csv"
df = pd.read_csv(path)

In [ ]:
df

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes
5   India  40.0  69600.0            Yes
6  Brazil   NaN  62400.0             No
7   India  53.0  94800.0            Yes
8     USA  55.0  99600.0             No
9   India  42.0  80400.0            Yes

In [ ]:
np.unique(df['Region'], return_counts=True)

(array(['Brazil', 'India', 'USA'], dtype=object), array([3, 4, 3]))

### Cách đọc file csv từ google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/PTIT/Python Samsung

/content/drive/MyDrive/PTIT/Python Samsung

In [ ]:
path = "BTH2.csv"
df = pd.read_csv(path)
df

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes
5   India  40.0  69600.0            Yes
6  Brazil   NaN  62400.0             No
7   India  53.0  94800.0            Yes
8     USA  55.0  99600.0             No
9   India  42.0  80400.0            Yes

## Câu 2: Điền dữ liệu còn thiếu theo phương pháp trung bình

In [ ]:
# Tổng hợp các dữ liệu còn thiếu theo cột
df1 = df.copy()
df1.isna().sum()

Region            0
Age               1
Income            1
Online Shopper    0
dtype: int64

In [ ]:
# Tiến hành thay giá trị 'NaN' bằng giá trị trung bình
df1['Age'].fillna(round(df['Age'].mean()),inplace=True)
df1['Income'].fillna(round(df['Income'].mean()),inplace=True)

In [ ]:
# Hiển thị bảng sau giá trình loại giá trị 'NaN'
df1

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0  76533.0            Yes
5   India  40.0  69600.0            Yes
6  Brazil  44.0  62400.0             No
7   India  53.0  94800.0            Yes
8     USA  55.0  99600.0             No
9   India  42.0  80400.0            Yes

In [ ]:
# Kiểm tra lại giá trị 'NaN' tại bảng
df1.isna().sum()

Region            0
Age               0
Income            0
Online Shopper    0
dtype: int64

## Câu 3: Hiển thị các bản ghi có Income > 70000 & Age > 50

In [ ]:
df2 = df1.copy()

In [ ]:
df2[ (df2['Age'] > 50) & (df2['Income'] > 70000)]

  Region   Age   Income Online Shopper
7  India  53.0  94800.0            Yes
8    USA  55.0  99600.0             No

In [ ]:
df2[ (df2.Age > 50) & (df2.Income > 70000)].reset_index()

   index Region   Age   Income Online Shopper
0      7  India  53.0  94800.0            Yes
1      8    USA  55.0  99600.0             No

## Câu 4: Chuẩn hóa dữ liệu theo min max
<img src="Min_Max_Normalization.png">

In [ ]:
df3 = df1.copy()
df3

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0  76533.0            Yes
5   India  40.0  69600.0            Yes
6  Brazil  44.0  62400.0             No
7   India  53.0  94800.0            Yes
8     USA  55.0  99600.0             No
9   India  42.0  80400.0            Yes

In [ ]:
age_min = df3.Age.min()
age_max = df3.Age.max()
income_min = df3.Income.min()
income_max = df3.Income.max()

In [ ]:
df3.Age = (df3.Age - age_min)/(age_max - age_min)
df3.Income = (df3.Income - income_min)/(income_max - income_min)

In [ ]:
df3

   Region       Age    Income Online Shopper
0   India  0.739130  0.685714             No
1  Brazil  0.000000  0.000000            Yes
2     USA  0.130435  0.171429             No
3  Brazil  0.478261  0.371429             No
4     USA  0.565217  0.450786            Yes
5   India  0.347826  0.285714            Yes
6  Brazil  0.521739  0.114286             No
7   India  0.913043  0.885714            Yes
8     USA  1.000000  1.000000             No
9   India  0.434783  0.542857            Yes

## Câu 5: Liên tục hóa thuộc tính Region

In [ ]:
df4 = df3.copy()

In [ ]:
# Kiểm tra các thông tin có trong trường "Region"
df4.Region.unique()

array(['India', 'Brazil', 'USA'], dtype=object)

In [ ]:
#* Đưa trường "Region" về dạng One-Hot Encoder
dummies = pd.get_dummies(df['Region'])
display(dummies)

df4 = pd.concat([df4,dummies],axis=1)
df4.drop('Region',axis=1,inplace=True)

   Brazil  India  USA
0       0      1    0
1       1      0    0
2       0      0    1
3       1      0    0
4       0      0    1
5       0      1    0
6       1      0    0
7       0      1    0
8       0      0    1
9       0      1    0

In [ ]:
df4

        Age    Income Online Shopper  Brazil  India  USA
0  0.739130  0.685714             No       0      1    0
1  0.000000  0.000000            Yes       1      0    0
2  0.130435  0.171429             No       0      0    1
3  0.478261  0.371429             No       1      0    0
4  0.565217  0.450786            Yes       0      0    1
5  0.347826  0.285714            Yes       0      1    0
6  0.521739  0.114286             No       1      0    0
7  0.913043  0.885714            Yes       0      1    0
8  1.000000  1.000000             No       0      0    1
9  0.434783  0.542857            Yes       0      1    0

## Câu 6: Xây dựng mô hình hồi quy tuyến tính để đoán kết quả của thuộc tính Online Shopper dựa trên các thuộc tính khác

In [ ]:
df5 = df4.copy()

In [ ]:
df5['Online Shopper'].replace({"No":0,"Yes":1},inplace=True)
df5

        Age    Income  Online Shopper  Brazil  India  USA
0  0.739130  0.685714               0       0      1    0
1  0.000000  0.000000               1       1      0    0
2  0.130435  0.171429               0       0      0    1
3  0.478261  0.371429               0       1      0    0
4  0.565217  0.450786               1       0      0    1
5  0.347826  0.285714               1       0      1    0
6  0.521739  0.114286               0       1      0    0
7  0.913043  0.885714               1       0      1    0
8  1.000000  1.000000               0       0      0    1
9  0.434783  0.542857               1       0      1    0

In [ ]:
X = df5.drop("Online Shopper", axis=1)
y = df5["Online Shopper"]
thread_point = int(0.8 * len(df5))

In [ ]:
# Giải thích threatpoint, dấu : ở trước và sau threatpoint có ý nghĩa
# [1, 2, 3, 4, 5, 6, 7]
# {0, 1, 2, 3, 4, 5, 6}
# thread_point = int(0.8 * len(df5) )
print(thread_point)

In [ ]:
# X[0, 1, 2, 3, 4, 5, 6, 7, 8] -> X[0:8] -> X[:8]
# X[9] -> X[8:9] -> X[8:]

In [ ]:
X_train, X_test = X[:thread_point], X[thread_point:]
y_train, y_test = y[:thread_point], y[thread_point:]

In [ ]:
from sklearn.linear_model import LogisticRegression
lireg = LogisticRegression()
lireg.fit(X_train,y_train)

LogisticRegression()

In [ ]:
print("Predicted label: {}, True label: {}".format(lireg.predict(X_test), y_test.values))

Predicted label: [1], True label: [1]

In [ ]:
lireg.score(X_test,y_test)

1.0

## Câu 7: Lấy ngẫu nhiên 50% dữ liệu

In [ ]:
df6 = df5.sample(len(df5)//2)
df6

        Age    Income  Online Shopper  Brazil  India  USA
7  0.913043  0.885714               1       0      1    0
2  0.130435  0.171429               0       0      0    1
3  0.478261  0.371429               0       1      0    0
9  0.434783  0.542857               1       0      1    0
1  0.000000  0.000000               1       1      0    0

# Câu 8: Rời rạc hoá dữ liệu

In [ ]:
df7 = df5.copy()
df7

        Age    Income  Online Shopper  Brazil  India  USA
0  0.739130  0.685714               0       0      1    0
1  0.000000  0.000000               1       1      0    0
2  0.130435  0.171429               0       0      0    1
3  0.478261  0.371429               0       1      0    0
4  0.565217  0.450786               1       0      0    1
5  0.347826  0.285714               1       0      1    0
6  0.521739  0.114286               0       1      0    0
7  0.913043  0.885714               1       0      1    0
8  1.000000  1.000000               0       0      0    1
9  0.434783  0.542857               1       0      1    0

In [ ]:
df7.Income = pd.cut(df7["Income"],
       bins=[-0.1, 0.2, 0.4, 0.6, 0.8, 1], 
       labels=["Very Low", "Low", "Medium", "High", "Very High"])

In [ ]:
df7

        Age     Income  Online Shopper  Brazil  India  USA
0  0.739130       High               0       0      1    0
1  0.000000   Very Low               1       1      0    0
2  0.130435   Very Low               0       0      0    1
3  0.478261        Low               0       1      0    0
4  0.565217     Medium               1       0      0    1
5  0.347826        Low               1       0      1    0
6  0.521739   Very Low               0       1      0    0
7  0.913043  Very High               1       0      1    0
8  1.000000  Very High               0       0      0    1
9  0.434783     Medium               1       0      1    0